.navigation {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  height: 7vh;
  .link_Container {
    font-family: 'Rubik 80s Fade', cursive;
    font-size: 18px;
    margin-left: 20px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .linksNav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}