@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Monoton&family=Open+Sans:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Monoton&family=Open+Sans:wght@300&family=Roboto&family=Rubik+80s+Fade&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 20px 40px;
  font-family: 'Open Sans','Rubik 80s Fade',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
  color: black;
}
//font-family: 'Rubik 80s Fade', cursive;